@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

*{ /* '*'표시는 문서에 전체 적용하겠다는 표시 */
    font-family: 'Montserrat';
}
body,h1,h2{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 20;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 10px;
}
.title_box{
    text-align: right;
}
footer{
    width: 653px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.739);
    color: rgba(240, 248, 255, 0.507);
    font-size: 10;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mainbox{
    border : 1.5px double #2b2b2b;
    width: 610px;
    text-align: right;
    padding: 30px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.1);
}

.name_text{
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold;
}
section{
    margin-bottom: 24px;
    text-align: left;
}
.about_me_text{
    font-size: 10px;
    font-weight: bold;
    color: #7c7c7c;
    text-align: left;
}
.title_text{
    font-size: 11px;
    color: #282828;
    font-weight: bold;
    float: left;
}
.year_text{
    font-size: 11px;
    color: #282828;
    font-weight: bold;
    float: right;
}
.float_wrap{
    overflow: hidden;
}
.desc_text{
    font-size: 9px;
    color: #282828;

}
.desc_sub_text{
    font-size: 9px;
    color: #282828;
    padding-left: 16px;
}
.sns-img{
    width: 12px;
    height: 12px;
}